/* Custom styles for ShoeCarousel */
.shoe-carousel-container {
    position: relative;
  }
  
  .shoe-carousel-swiper {
    height: 100%;
  }
  
  .shoe-carousel-slide {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
  
  .shoe-carousel-slide.swiper-slide-active {
    opacity: 1 !important;
  }
  
  .shoe-carousel-bullet {
    width: 50px;
    height: 5px;
    background: #659cdf;
    border-radius: 10px;
    opacity: 1;
  }
  
  .shoe-carousel-bullet-active {
    background: yellow;
  }
  
  .shoe-carousel-next,
  .shoe-carousel-prev {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .shoe-carousel-next:hover,
  .shoe-carousel-prev:hover {
    color: white;
  }
/* Custom styles for Mens Swiper */
/* .swiper-container.mySwiper {
    position: relative;
  }
  
  /* .mySwiper .swiper-slide {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  } */
  
  .mySwiper .swiper-slide.swiper-slide-active {
    opacity: 1 !important;
  }
  
  .mySwiper .swiper-button-next,
  .mySwiper .swiper-button-prev {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .mySwiper .swiper-button-next:hover,
  .mySwiper .swiper-button-prev:hover {
    color: white;
  }
  
  .mySwiper .swiper-pagination {
    bottom: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
  } 
    